build/*
.vs
.vscode/settings.json
.cache
.idea
.VSCodeCounter
out/
/storage
config.json
tools/logs
tools/*/out
tools/*.exe
built_resources/
resources/include.hpp
.PVS-Studio
/src/util/reflect
/src/generated
/resources/data
/resources/registry
/src/api/collection/
